<h3><%= @user.name %>さん</h3>

<%= form_with(model: @user, local: true) do |f| %>  
  
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </P>

  <P>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </P>  

  <P>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </P>

  <P>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </P>
  
  
  <p class="field">
    <%= f.label :image %>
    <%= f.file_field :image, id: :feed_image %>
  </p>
  
  <p class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction %>
  </p>
  
  <%= f.submit "マイページを編集する" %>
  
<% end %>
