<article class="container col-md-7">
  <% if logged_in? && (current_user.id == @user.id) %>
    <p>マイページ＊この文字は他のユーザーには表示されません</p>
  <% end %>
  <div>
    <%= image_tag @user.image, class:"icon" %>
    <span>面接官：<%= @user.name %>さん</span>
  </div>
  
  <div class="box", size: "150x100">自己紹介
    <%= @user.introduction %>
    <!--make schedule-->
  </div>
  
  <% if @user.schedules.present? %>
    <h3>登録日程
      <% if @user.schedule.getu_start.present? %>
        <div>
          月曜日：
          <%= @user.schedule.getu_start %>時～
          <%= @user.schedule.getu_end %>時
        </div>
      <% end %>
      <% if @user.schedule.ka_start.present? %>
        <div>
          火曜日：
          <%= @user.schedule.ka_start %>時～
          <%= @user.schedule.ka_end %>時
        </div>
      <% end %>
      <% if @user.schedule.sui_start.present? %>
        <div>
          水曜日：
          <%= @user.schedule.sui_start %>時～
          <%= @user.schedule.sui_end %>時
        </div>
      <% end %>
      <% if @user.schedule.moku_start.present? %>
        <div>
          木曜日：
          <%= @user.schedule.moku_start %>時～
          <%= @user.schedule.moku_end %>時
        </div>
      <% end %>
      <% if @user.schedule.kin_start.present? %>
        <div>
          金曜日：
          <%= @user.schedule.kin_start %>時～
          <%= @user.schedule.kin_end %>時
        </div>
      <% end %>
      <% if @user.schedule.doyou_start.present? %>
        <div>
          土曜日：
          <%= @user.schedule.doyou_start %>時～
          <%= @user.schedule.doyou_end %>時
        </div>
      <% end %>
      <% if @user.schedule.niti_start.present? %>
        <div>
          日曜日：
          <%= @user.schedule.niti_start %>時～
          <%= @user.schedule.niti_end %>時
        </div>
      <% end %>
  <% else %>
    <p>現在、日程は登録されていません</p>
  <% end %>
      
  <% if logged_in? && (current_user.id == @user.id) %>
    <h5>*このページが応募ユーザーから見えるページです</h5>
    <%= button_to 'マイページを編集する', edit_user_path(current_user.id), method: :get, class: "btn btn-info" %>
  <% elsif logged_in? && (current_user.id != @user.id) %>
    <%= link_to '戻る', users_path %>
  <% end %>

</article>