<h3>ようこそ、<%= @user.name %>さん</h3>
<P>このページが他のユーザーから見えるページです</P>

<div class="icon">
  <%= image_tag @user.image %>
</div>

<h3><%= @user.name %></h3>
<h4>
  <%= @user.introduction %>
</h4>

<%= link_to 'マイページを編集する', edit_user_path(current_user.id) %>