<article class="container col-md-7">
  <% if logged_in? && (current_user.id == @user.id) %>
    <p>マイページ＊この文字は他のユーザーには表示されません</p>
  <% end %>
  <div>
    <%= image_tag @user.image, class:"icon" %>
    <span>面接官：<%= @user.name %>さん</span>
  </div>
  
  <div class="box", size: "150x100">自己紹介
    <%= @user.introduction %>
    <!--make schedule-->
  </div>
  
  <% if @user_schedule.present? %>
    <h3>登録日程
      <% if @user_schedule.getu_start.present? %>
        <div>
          月曜日：
          <%= @user_schedule.getu_start %>時～
          <%= @user_schedule.getu_end %>時
        </div>
      <% end %>
      <% if @user_schedule.ka_start.present? %>
        <div>
          火曜日：
          <%= @user_schedule.ka_start %>時～
          <%= @user_schedule.ka_end %>時
        </div>
      <% end %>
      <% if @user_schedule.sui_start.present? %>
        <div>
          水曜日：
          <%= @user_schedule.sui_start %>時～
          <%= @user_schedule.sui_end %>時
        </div>
      <% end %>
      <% if @user_schedule.moku_start.present? %>
        <div>
          木曜日：
          <%= @user_schedule.moku_start %>時～
          <%= @user_schedule.moku_end %>時
        </div>
      <% end %>
      <% if @user_schedule.kin_start.present? %>
        <div>
          金曜日：
          <%= @user_schedule.kin_start %>時～
          <%= @user_schedule.kin_end %>時
        </div>
      <% end %>
      <% if @user_schedule.doyou_start.present? %>
        <div>
          土曜日：
          <%= @user_schedule.doyou_start %>時～
          <%= @user_schedule.doyou_end %>時
        </div>
      <% end %>
      <% if @user_schedule.niti_start.present? %>
        <div>
          日曜日：
          <%= @user_schedule.niti_start %>時～
          <%= @user_schedule.niti_end %>時
        </div>
      <% end %>
      
    <h2>先一週間の予定</h2>
    <% @user_eachschedules.each do |t| %>
        <h3>
          <tr>
            <% if t.weekday == "monday" %>
              <td>
                月：<%= t.start %>時～<%= t.fin %>時
                  <%# unless @eachschedule.user_id == current_user.id %>
                    <%# if @appointment.nil? %>
                       <%#= link_to '予約する', appointment_path(eachschedule_id: @eachschedule.id),
                         method: :post, class: 'btn btn-primary' %>
                    <%# end %>
                  <%# end %>
              </td>
            <% end %>
            <% if t.weekday == "tuesday" %>
              <td>火：<%= t.start %>時～<%= t.fin %>時</td>
            <% end %>
            <% if t.weekday == "wednesday" %>
              <td>水：<%= t.start %>時～<%= t.fin %>時</td>
            <% end %>
            <% if t.weekday == "thursday" %>
              <td>木：<%= t.start %>時～<%= t.fin %>時</td>
            <% end %>
            <% if t.weekday == "friday" %>
              <td>金：<%= t.start %>時～<%= t.fin %>時</td>
            <% end %>
            <% if t.weekday == "saturday" %>
              <td>土：<%= t.start %>時～<%= t.fin %>時</td>
            <% end %>
            <% if t.weekday == "sunday" %>
              <td>日：<%= t.start %>時～<%= t.fin %>時</td>
            <% end %>
          </tr>
        </h3>
    <% end %>
      
  <% else %>
    <p>現在、日程は登録されていません</p>
  <% end %>
      
  <% if logged_in? && (current_user.id == @user.id) %>
    <h5>*このページが応募ユーザーから見えるページです</h5>
    <%= button_to 'マイページを編集する', edit_user_path(current_user.id), method: :get, class: "btn btn-info" %>
  <% elsif logged_in? && (current_user.id != @user.id) %>
    <%= link_to '戻る', users_path %>
  <% end %>

</article>