<article class="container col-md-6 col-xs-6">
  <% flash.each do |key, value| %>
    <p><%= content_tag(:div, value, class: "#{key}") %></p>
  <% end %>
  <h1>新規登録</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="form-group">
      <div class="col-xs-12">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
    
      <h5>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </h5>  
    
      <h5>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </h5>
    
      <h5>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </h5>
      
      <h4>
        あなたはどっち？
        <%= f.select :admin, [["面接官ユーザー", true], ["面接者ユーザー", false]] %>
      </h4>
      
      <br>
      <%= f.submit "ユーザー作成", class: "btn btn-success" %>
    
    </div>
    
  <% end %>
  
  <%= link_to 'トップへ', tops_path %> 
</article>
