<article class="container col-md-4 col-xs-4">
  <% flash.each do |key, value| %>
    <p><%= content_tag(:div, value, class: "#{key}") %></p>
  <% end %>
  <h1>新規登録</h1>
  <%= form_with(model: @user, local: true) do |f| %>
    <div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>  
    
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      
      <h3>
        あなたはどっち？
        <%= f.select :admin, [["面接官ユーザー", true], ["面接者ユーザー", false]] %>
      </h3>
      
      <div>
        <%= f.submit "ユーザー作成", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  
  <%= link_to 'トップへ', tops_path %> 
</article>
