<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<% if logged_in? %>
  <%= link_to 'みんなの写真へ', pictures_path, class:"btn btn-outline btn-xl js-scroll-trigger" %>
<% else %>
  <%= link_to "ログイン", new_session_path, class:"btn btn-outline btn-xl js-scroll-trigger" %>
<% end %>


<br>


<% @favorite_pictures.each do |picture| %>
　<p>あなたがお気に入りした写真</p>
  <p>
    <tr>
      <td><%= image_tag picture.image, class: "photo" %></td>
      <td><%= link_to '詳細', picture_path(picture.id), class:"btn btn-outline btn-xl js-scroll-trigger" %></td>
    </tr>
  </p>
<% end %>