<article class="container col-md-5 col-xs-5">
  <% flash.each do |key, value| %>
    <p><%= content_tag(:div, value, class: "#{key}") %></p>
  <% end %>
  <h1>マイアカウント</h1>
  <h3>ようこそ、<%= @user.name %>さん</h3>
  <% if logged_in? && current_user.admin == true %>
    <h5>あなたは<strong>面接官ユーザー</strong>です</h5>
    
    <% if @schedule.present? %>
        <h3>自分の登録日程
          <% if @schedule.getu_start.present? %>
            <div>
              月曜日：
              <%= @schedule.getu_start %>時～
              <%= @schedule.getu_end %>時
            </div>
          <% end %>
          <% if @schedule.ka_start.present? %>
            <div>
              火曜日：
              <%= @schedule.ka_start %>時～
              <%= @schedule.ka_end %>時
            </div>
          <% end %>
          <% if @schedule.sui_start.present? %>
            <div>
              水曜日：
              <%= @schedule.sui_start %>時～
              <%= @schedule.sui_end %>時
            </div>
          <% end %>
          <% if @schedule.moku_start.present? %>
            <div>
              木曜日：
              <%= @schedule.moku_start %>時～
              <%= @schedule.moku_end %>時
            </div>
          <% end %>
          <% if @schedule.kin_start.present? %>
            <div>
              金曜日：
              <%= @schedule.kin_start %>時～
              <%= @schedule.kin_end %>時
            </div>
          <% end %>
          <% if @schedule.doyou_start.present? %>
            <div>
              土曜日：
              <%= @schedule.doyou_start %>時～
              <%= @schedule.doyou_end %>時
            </div>
          <% end %>
          <% if @schedule.niti_start.present? %>
            <div>
              日曜日：
              <%= @schedule.niti_start %>時～
              <%= @schedule.niti_end %>時
            </div>
          <% end %>
          <%= button_to '空き日程を編集', edit_schedule_path(current_user.id),
          method: :get, class:"btn btn-info" %>
     <% else %>
        <%= button_to '空き日程を編集', new_schedule_path(current_user.id), 
            method: :get, class:"btn btn-info" %>
     <% end %>
    </h3>
    
  <% elsif logged_in? && current_user.admin == false %>
    <h5>あなたは<strong>面接者ユーザー</strong>です</h5>
    </br>
    <%= button_to '面接相手を探す', users_path, method: :get, class:"btn btn-info" %>
          
  <% end %>
  
     
</article>