<%= form_with(model: @user, local: true) do |f| %>  
    <h5>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </h5>
    
    <%= f.submit "ユーザー作成", class: "btn btn-success" %>
    
<% end %>
<%= link_to 'Back', user_path(current_user.id) %>
