<p id="notice"><%= notice %></p>

<h1>みんなの写真</h1>


<div class="row">
    <% @pictures.each do |picture| %>
      <div class="col-xs-12 col-md-6">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <%= image_tag picture.image, class: "photo" %>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-3 col-md-12"><%= picture.user.name %>さんの写真</div>
              <div class="col-xs-3 col-md-12"><%= link_to 'Show', picture, class:"btn btn-outline btn-xl js-scroll-trigger" %></div>
              <% if current_user.id == picture.user.id %>
                <div class="col-xs-3 col-md-12"><%= link_to 'Edit', edit_picture_path(picture), class:"btn btn-outline btn-xl js-scroll-trigger" %></div>
                <div class="col-xs-3 col-md-12"><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-outline btn-xl js-scroll-trigger"%></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>

<br>
<br>

<%= link_to 'New Picture', new_picture_path, class:"btn btn-outline btn-xl js-scroll-trigger" %>
