<!DOCTYPE html>
<html>
  <head>
    <title>meetingApp</title>
    <%= csrf_meta_tags %>
    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">
    
    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/jquery.min.js'></script>
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


    
  <% if controller.controller_name != "tops" %>
    <body class="usiro">
  <% else %>
    <body>
  <% end %>
  
    <% if controller.controller_name != "tops" %>  
      <header>
        <% if logged_in? %>
          <% if (controller.action_name != "show") && (controller.action_name != "index") %>
            <%= link_to "投稿 OR 探す", user_path(current_user.id), class:"btn btn-outline btn-xl js-scroll-trigger" %>
          <% end %>
          <% if (controller.action_name != "mypage") && (controller.action_name != "edit") %>
            <%= link_to "マイページ", mypage_user_path(current_user.id), class:"btn btn-outline btn-xl js-scroll-trigger" %>
          <% end %>
          <%= link_to "ログアウト", user_logout_path(current_user.id), method: :delete, class:"btn btn-outline btn-xl js-scroll-trigger" %>
        <% elsif %>
          <%= link_to "新規登録", new_user_path, class:"btn btn-outline btn-xl js-scroll-trigger" %>
          <%= link_to "ログイン",  new_session_path, class:"btn btn-outline btn-xl js-scroll-trigger" %>
        <% end %>
      </header>
    <% end %>
    
    <div class="container-fluid">
      <%= yield %>
    </div>
      
    
  </body>
</html>